services:
  github-runner:
    # image: myoung34/github-runner:latest
    image: myoung34/github-runner:ubuntu-bionic # mas ligero
    container_name: github-runner
    restart: always
    environment:
      # 1. La URL de tu repositorio o de tu organización
      - REPO_URL=https://github.com/Vigilio-Services

      - RUNNER_SCOPE=org
      # 2. Token de autenticación (ver paso abajo para obtenerlo)
      - RUNNER_TOKEN=${GITHUB_ACCESS_TOKEN}

      # 3. Nombre opcional para identificarlo en GitHub
      - RUNNER_NAME=mi-servidor-runner

      # 4. Etiquetas para filtrar qué jobs corren aquí
      - LABELS=self-hosted,node,linux,docker
     # Esta opción limpia el código del repo tras cada job para ahorrar espacio
      - EPHEMERAL=false
    volumes:
      # Esto permite que el runner use el Docker de tu servidor
      - /var/run/docker.sock:/var/run/docker.sock
      # Directorio de trabajo del runner
      - runner_data:/_work
      # temporal
      - runner_tool_cache:/opt/hostedtoolcache
volumes:
  runner_data:
  runner_tool_cache:
