---
import astroLogo from "../../assets/astro.svg";
import background from "../../assets/background.svg";


---

<div id="container" class="h-full flex flex-col md:flex-row font-inter">
	
    <h1>hola mundo 2</h1>
</div>
