version: "3.8"

services:
    postgres_db:
        image: postgres:17.6-alpine3.21
        restart: always
        container_name: ${VITE_NAME_APP}_db
        ports:
            - ${DB_PORT}:5432
        environment:
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASS}
            POSTGRES_DB: ${DB_NAME}
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - dokploy-network

    app:
        container_name: ${VITE_NAME_APP}
        build:
            context: .
            dockerfile: Dockerfile
            target: production
        ports:
            - "${PORT}:${PORT}"
        environment:
            - VITE_EMPRESA=${VITE_EMPRESA}
            - VITE_NAME_APP=${VITE_NAME_APP}
            - NODE_ENV=${NODE_ENV}
            - VITE_ENV=${VITE_ENV}
            - PORT=${PORT}
            - VITE_PORT=${VITE_PORT}
            - VITE_URL=${VITE_URL}
            - JWT_KEY=${JWT_KEY}
            - DB_HOST=${DB_HOST}
            - DB_PORT=${DB_PORT}
            - DB_USER=${DB_USER}
            - DB_PASS=${DB_PASS}
            - DB_NAME=${DB_NAME}
            - MAIL_HOST=${MAIL_HOST}
            - MAIL_PORT=${MAIL_PORT}
            - MAIL_USER=${MAIL_USER}
            - MAIL_PASS=${MAIL_PASS}
            - VITE_HMAC_KEY=${VITE_HMAC_KEY}
            - VITE_PLUBIC_VAPID_EMAIL=${VITE_PLUBIC_VAPID_EMAIL}
            - VITE_PLUBIC_VAPID_KEY=${VITE_PLUBIC_VAPID_KEY}
            - VITE_PRIVATE_VAPID_KEY=${VITE_PRIVATE_VAPID_KEY}
        depends_on:
            - postgres_db
        restart: always
        labels:
            - traefik.enable=true
            - traefik.http.routers.${NAME_APP}.rule=Host(`${VITE_URL}`)
            - traefik.http.routers.${NAME_APP}.entrypoints=websecure
            - traefik.http.routers.${NAME_APP}.tls.certResolver=letsencrypt
            - traefik.http.services.${NAME_APP}.loadbalancer.server.port=${PORT}
        networks:
            - dokploy-network
networks:
    dokploy-network:
        external: true
volumes:
    postgres_data:
