services:
    postgres_db:
        image: postgres:17.6-alpine3.21
        restart: always
        container_name: database_db
        environment:
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASS}
            POSTGRES_DB: ${DB_NAME}
        volumes:
            - postgres_data:/var/lib/postgresql/data
        ports:
            - "${DB_PORT}:5432"
        networks:
            - app-network
    app:
        container_name: template_app
        build:
            context: .
            dockerfile: Dockerfile
            target: development
        ports:
            - "${PORT}:${PORT}"
            - "${VITE_PORT}:${VITE_PORT}"
        environment:
            NODE_ENV: ${NODE_ENV}
            VITE_ENV: ${VITE_ENV}
            PORT: ${PORT}
            VITE_URL: ${VITE_URL}
            VITE_PORT: ${VITE_PORT}
            DB_HOST: ${DB_HOST}
            DB_PORT: ${DB_PORT}
            DB_USER: ${DB_USER}
            DB_PASS: ${DB_PASS}
            DB_NAME: ${DB_NAME}
            DATABASE_URL: ${DATABASE_URL}
            MAIL_HOST: ${MAIL_HOST}
            MAIL_PORT: ${MAIL_PORT}
            JWT_KEY: ${JWT_KEY}
            VITE_HMAC_KEY: ${VITE_HMAC_KEY}
            VITE_PLUBIC_VAPID_EMAIL: ${VITE_PLUBIC_VAPID_EMAIL}
            VITE_PRIVATE_VAPID_KEY: ${VITE_PRIVATE_VAPID_KEY}
            CHOKIDAR_USEPOLLING: true
            CHOKIDAR_INTERVAL: 1000
        depends_on:
            - postgres_db
        restart: always
        volumes:
            - ./:/usr/src/app
            - ./src/assets/temp:/usr/src/app/src/assets/temp
            - /usr/src/app/node_modules
        networks:
            - app-network

volumes:
    postgres_data:
networks:
    app-network:
        driver: bridge
